    <%- include header -%>

    
    <div class="card">
        <div class="card-header">
            <h4>Login page</h4>
        </div>
        <div class="card-body">
            <%if(login==true && success == false){%>
                <h1>Thông tin đăng nhập bi sai</h1>
            <%}%>
        <div class="form-group">
            <form method="POST">
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email..."><br>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your your password"><br>
                <button class="send btn btn-dark" id="send-btn">Send</button>
            </form>
        </div>
    </div>
</div>
    <%- include footer -%>
