<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include header -%>
    <h1>Login page</h1>
    <%if(login==true && success == false){%>
        <h1>Thông tin đăng nhập bi sai</h1>
    <%}%>
    <div class="form-group">
        <form style=" font-size: 40px;" method="POST">
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email..."><br>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your your password"><br>
            <button class="send btn btn-dark" id="send-btn">Send</button>
        </form>
    </div>
    <%- include footer -%>
      
</body>
</html>