<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include header -%>
    <form style="font-size: 40px;" method="POST">
        <div class="form-group">
            <input type="text"  class="form-control " id="fist-name" name="first_name" placeholder="Enter your first name..."><br>
            <input type="text"  class="form-control " id="last-name" name="last_name" placeholder="Enter your last name..."><br>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email..."><br>
            <input type="text" class="form-control" id="phone-number" name="phone_number" placeholder="Enter your phone number..."><br>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your your password"><br>
            <button class="btn btn-dark">Send</button>
        </div>
    </form>
    <%- include footer -%>
</body>
</html>